<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TODO App with VueJS</title>
    <meta name="description" content="TODO with VueJS" />
    <meta name="author" content="Alex and Jose" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css?v=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-blue">
    <div id="app"></div>
    <script type="text/x-template" id="todo-editor-template">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h1>Add a Todo</h1>
              <div class="row">
                  <div class="col-9">
                      <input v-model="todoText" class="form-control form-control-lg" type="text" placeholder="What do you want to do?" @keyup.enter="addTodo()">
                  </div>

                  <div class="col-3">
                      <button class="btn btn-primary btn-lg btn-block" @click='addTodo()'>Add</button>
                  </div>
              </div>
          </div>
    </script>
    <script type="text/x-template" id="todo-list-template">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
              <div class="row">
                  <div class="col-12">
                      <h1>Your To-Do's</h1>
                  </div>

                  <div class="col">
                      <div class="row" v-if="showEditor">
                          <div class="col-6">
                              <input v-model="newName" @keyup.enter='updateTodo()' class="form-control form-control-lg" type="text" placeholder="Enter new todo name">
                          </div>

                          <div class="col-6">
                              <div class="btn-group" role="group">
                                  <button class="btn btn-primary btn-lg mr-3 rounded" @click='updateTodo()'>Update</button>
                                  <button class="btn btn-secondary btn-lg rounded" @click='showEditor=false'>Cancel</button>
                              </div>
                          </div>
                      </div>

                      <ul class="mt-5 list-group">
                          <li v-for="(todo, index) in display" class="list-group-item d-flex justify-content-between align-items-center" v-bind:class="{'list-group-item-success': todo.state === 'finished' ? true : false, 'list-group-item-danger': todo.state === 'pending' ? true : false}">{{ todo.name }}
                              <div class="btn-group" role="group" aria-label="Edit delete group">
                                  <span class="mr-3">{{todo.created}} </span>

                                  <select class="d-block d-md-none" @change="action(actionValue, index, todo)" v-model="actionValue">
                                      <option value="done">Done</option>
                                      <option value="edit">Edit</option>
                                      <option value="delete">Delete</option>
                                  </select>

                                  <div class="d-none d-md-block">
                                      <button v-if="todo.state == 'pending'" class="btn btn-success mr-2 rounded" @click="changeState(index)">Done</button>
                                      <button v-if="todo.state == 'finished'" class="btn btn-danger mr-2 rounded" @click="changeState(index)">Undone</button>
                                      <button type="button" @click="showTodoEditor(todo, index)" class="btn btn-primary mr-2 rounded">Edit</button>
                                      <button type="button" @click="deleteTodo(index, todo)" class="btn btn-danger rounded">Delete</button>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
    </script>
    <script src="./vue.js"></script>
    <script type="module" src="./scripts.js" crossorigin></script>
  </body>
</html>
